.site-header {
    background-color: #ff84bf;
}

.site-content {
    background-color: #ffeb78;
}

.site-footer {
    background-color: #81d3ff;
}

.site-header-2 {
    background-color: #d666a0;
}

.site-content-2 {
    background-color: #a883a6;
}

.site-footer-2 {
    background-color: #536fa6;
}