.site-header {
    background-color: #93cdaa;
}

.site-content {
    background-color: #c1cd8f;
}

.site-footer {
    background-color: #92a7ce;
}

.site-header-2 {
    background-color: #e5d900;
}

.site-content-2 {
    background-color: #28e399;
}

.site-footer-2 {
    background-color: #c17fef;
}